.contenedor__tarjetas {
    width: 98vw;
    display: flex;
    flex-direction: column;
}

.contenedor__tarjetas img {
    width: 100%;
    border-radius: 10px;
}

.tarjeta {
    margin: 2vh 2vw;
    border: 1px solid black;
    padding: 2vh;
    box-shadow: 5px 5px 5px black;

}


@media (min-width:768px) {
    .contenedor__tarjetas {
        display: flex;
    }

    .tarjeta {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tarjeta .tarjeta__foto {
        margin-right: 10%;
        width: 40%;

    }

    .tarjeta--reversa {
        display: flex;
        flex-direction: row-reverse;
    }

    .tarjeta--reversa .tarjeta__foto {
        margin-right: 0;
        margin-left: 10%;
        width: 40%;
    }

    .tarjeta__texto {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
