.llegada {
    background-image: url("../images/minuta-3.jpeg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.llegada__texto {
    width: 80%;
    height: 50%;
    color: #BFED45;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.llegada__texto div {
    margin-top: 2vh;
    text-align: center;
}

.boton {
    padding: 10px 15px;
    background-color: #3E42EB;
    border: 0;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 15px;
}

.boton:hover {
    background: linear-gradient(#e66465, #9198e5);
    transform: scale(1.2);
    transition: 0.5s;
}

@media (min-width: 768px) {
    .llegada__texto {
        width: 60%;
        height: 60%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .llegada__texto div {
        margin-top: 2vh;
    }
}